body {
    background-color: lightgray;
}
h1 {
    text-align: center;
}
img {
    width: 300px;
    height: auto;
}
button {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 10px;
}
a {
    text-decoration: none;
    color:darkmagenta;
}