body {
    font-family: Arial, sans-serif;
    background-color: #eef3f8;
    margin: 0;
    padding: 0;
}

.blok {
    width: 500px;
    background-color: white;
    margin: 80px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

h1 {
    text-align: center;
    color: #5db944;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    margin-top: 5px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    background-color: #5db944;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #5db944;
}
